@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
}